body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuB6f_D5THahYPTZh1ZGyoBMiCTazS8Md-l_mMHKRqqHQgjg8n9xKEcg7kl0_DUNrMGw&usqp=CAU);
    /* height: 220vh; */
}
nav{
    display: flex;
    border: solid black;
    margin: 1vh;
    height: 10vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.591);
}
.logo{height: 100%;}
  
.nav{
  
  height: 100%;
  display: flex;
  align-items: center;
}
.home{
height: 90%;
margin-right: 10px;
align-items: center;
margin: 4px;
}
.chekout{
    display: flex;
    /* height: 100vh; */
    
}

.formDiv{
    width: 60%;
    margin: 1vh;
   
    display: flex;
    padding: 100px;
    justify-content: center;
    
}
.BillingInformation{
    border:solid;
    background-color: rgba(255, 235, 205, 0.75);
    
    padding: 100px;
    justify-content: center;
    align-items: center ;
 
}
.address{
    border: solid;
    justify-content: center;
    padding: 100px;
    

}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-weight: bold;

}
button{
    display: block;
    margin: auto;
    margin-top: 5vh;
    padding: 1vh;
    border-radius: 20px;
    background-color: black ;
    color: white;

    font-size: large;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
h3{
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.orders{
    /* border: solid; */
    width: 40vw;
    margin: 1vh;
    background-color: rgba(37, 36, 36, 0.9);
    overflow-y: auto;
    max-height: 100vh; 
}
.orders h1{
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.11); */
    color: white;
    padding: 20px;
}
.OrdersItem{
    /* border: solid; */
    /* margin: auto; */
    /* padding: 10px; */
    width: 100%;
    height: 5vh;
    text-align: center;
    align-items: center;
    display: flex;
    /* background-color: #55555526; */
}
.OrdersItem:nth-child(even){
    background-color: #55555526;

}