body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuB6f_D5THahYPTZh1ZGyoBMiCTazS8Md-l_mMHKRqqHQgjg8n9xKEcg7kl0_DUNrMGw&usqp=CAU);
  height: 220vh;
}
nav{
  display: flex;
  border: solid black;
  margin: 1vh;
  height: 10vh;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.591);
}
.nav{
height: 100%;
display: flex;
align-items: center;
}
.logo{height: 100%;}
.cart{
  height: 95%;
  margin-right: 10px;
  align-items: center;
}


.advisement{
    border: solid;
    background-color: rgba(46, 23, 11, 0.804);
    height: 60vh;
    display: flex;
    align-items: center;
    margin: 1vh;
  }
  .ADClass{
    display: flex;
    width: 100%;

}
#ad1 , #ad2{
    margin: 3px;
    width: 50%;
    height: 100%;
}
  .advisement img{
    display: none;
  }
  .ADImges{
    width: 100%;
    
  }
  img.displaySlide{
    display: block;
  }
  
 
.back{
  left: 2%;
}
.next{
  right: 2%;
}
.heder{
  font-size: 30px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 20%;
  border: solid;
  background-color: rgba(0, 0, 0, 0.256);
}
.drinks{
    /* border: solid; */
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
}
.swites{
  display: flex;
  margin: 1vh;
  flex-wrap: wrap;
}
.drinks button{
  opacity: .6;
  position: absolute;
  top: 95%;
  transform: translateY(0%);
  font-size: 30px;
  background-color: rgba(74, 38, 19, 0.5);
  color: aliceblue;
  border: none;
  cursor: pointer;
  padding: 5px;
  align-items: center; 
}
.items1{
    border: solid;
    width: 17.5vw;
    height: 500px;
    margin: 1vh;
    border-radius: 35px;
 background-color: rgba(162, 73, 0, 0.847);
    
}
.items2{
  border: solid;
  width: 17.5vw;
  height: 500px;
  margin: 1vh;
  border-radius: 35px;
  background-color: rgba(239, 116, 188, 0.607);
}
.items1 img{
  width: 100%;
  height: 28vh;
  border-radius: 35px;

}

.items2 img{
width: 100%;
height: 28vh;
border-radius: 35px;
}
.items1:hover {
  zoom: 115%;
}
.items2:hover {
  zoom: 115%;
}
.description{
  text-align: center;
}


