body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuB6f_D5THahYPTZh1ZGyoBMiCTazS8Md-l_mMHKRqqHQgjg8n9xKEcg7kl0_DUNrMGw&usqp=CAU);
  height: 220vh;
}
nav{
  display: flex;
  border: solid black;
  margin: 1vh;
  height: 10vh;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.591);
}
.nav{
height: 100%;
display: flex;
align-items: center;
}
.logo{height: 100%;}
.icons{
  margin-right: 10px;
  display: flex;
}
.icon{
  height: 100px;
  align-items: center;
}
.CortIcon{
  position: relative;
  align-items: center;
  
}
.CortIcon span{
  display: block;
  display: flex;
  width: 40px;
  height: 30px;
  background-color: red;
  justify-content: center;
  color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  right: 10%;
}

.advisement{
    border: solid;
    background-color: rgba(46, 23, 11, 0.804);
    height: 60vh;
    display: flex;
    align-items: center;
    margin: 1vh;
  }
  .ADClass{
    display: flex;
    width: 100%;

}
#ad1 , #ad2{
    margin: 3px;
    width: 50%;
    height: 100%;
}
  .advisement img{
    display: none;
  }
  .ADImges{
    width: 100%;
    
  }
  img.displaySlide{
    display: block;
  }
  
 
.back{
  left: 2%;
}
.next{
  right: 2%;
}
.heder{
  margin: 10px;
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  border: solid;
  background-color: rgba(0, 0, 0, 0.256);
}
.drinks{
    /* border: solid; */
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
}
.swites{
  display: flex;
  margin: 1vh;
  flex-wrap: wrap;
}
.drinks button {
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px ;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}
.swites button{
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 10px ;
  border-radius: 20px;
  border: none;
  margin: 10px;
  cursor: pointer;

}
.items1{
    border: solid;
    width: 17.5vw;
    height: 570px;
    margin: 1vh;
    border-radius: 35px;
 background-color: rgba(162, 73, 0, 0.847);
 justify-content: space-between;
    
}
.items2{
  border: solid;
  width: 17.5vw;
  height: 570px;
  margin: 1vh;
  border-radius: 35px;
  background-color: rgba(239, 116, 188, 0.607);
}

.items1 img{
  width: 100%;
  height: 28vh;
  border-radius: 35px;

}

.items2 img{
width: 100%;
height: 28vh;
border-radius: 35px;
}
.items1:hover {
  zoom: 103%;
}
.items2:hover {
  zoom: 103%;
}
.description{
  text-align: center;
  align-items: center;
}
.priceClass{
  display: flex;
justify-content: center;

}
.price{
 font-size: 35px;
margin-top: auto;
margin-bottom: auto;
font-weight: bold;
}

.cartTab{
  width: 600px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -600px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  /* justify-content: center; */
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
body.showCart .cartTab{
  inset: 0 0 0 auto;
}
body.showCart .nav{
  transform: translatex(-250px);
}
.cartTab h1{
  padding:20px ;
  margin: auto;
  font-weight: 300;
}
.btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.btn button{
  background-color: orange;
  font-weight: 500;
  cursor: pointer;

}
.btn button:hover{
  background-color: white;

}
.OrdersItem{
  padding: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  /* justify-content: center; */
}
.OrdersItem:nth-child(even){
  background-color: #55555526;

}
.orderList img{
  height: 50px;
}
.OrdersItem .description{
  display: flex;
}
.OrdersItem button{
  display: none;
}
.OrdersItem span{
  display: inline-block;
  width: 35px;
  height: 25px;
  font-size: 37px;
}
