body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuB6f_D5THahYPTZh1ZGyoBMiCTazS8Md-l_mMHKRqqHQgjg8n9xKEcg7kl0_DUNrMGw&usqp=CAU);
}
nav{
    display: flex;
    border: solid black;
    margin: 1em;
    height: 12vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.591);
}
.nav{

height: 100%;
display: flex;
align-items: center;
}
.cart{
    height: 95%;
    margin-right: 10px;
    align-items: center;
}
.heder{
    border: solid black;
    height: 50vh;
    display: flex;
    margin: 1em;

}

.logo{

    height: 100%;
    

}
.items{
    border: solid black;
    height: 30vh;
    margin: 1em;

}